NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="clearview-f1089.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="clearview-f1089"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="clearview-f1089.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="987189536662"
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=""
